<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <h6 class="dropdown-header">Trainers</h6>
                        <a href="{% url 'products' %}?category=trainers&gender=men" class="dropdown-item">All Trainers</a>
                    </div>
                    <div class="col">
                        <h6 class="dropdown-header">Accessories</h6>
                        <a href="{% url 'products' %}?category=socks&gender=men" class="dropdown-item">Socks</a>
                        <a href="{% url 'products' %}?category=water_bottles&gender=men" class="dropdown-item">Water Bottles</a>
                        <a href="{% url 'products' %}?category=socks,water_bottles&gender=men" class="dropdown-item">All Accessories</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <h6 class="dropdown-header">Trainers</h6>
                        <a href="{% url 'products' %}?category=trainers&gender=women" class="dropdown-item">All Trainers</a>
                    </div>
                    <div class="col">
                        <h6 class="dropdown-header">Accessories</h6>
                        <a href="{% url 'products' %}?category=socks&gender=women" class="dropdown-item">Socks</a>
                        <a href="{% url 'products' %}?category=water_bottles&gender=women" class="dropdown-item">Water Bottles</a>
                        <a href="{% url 'products' %}?category=socks,water_bottles&gender=women" class="dropdown-item">All Accessories</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0 " aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'products' %}?brand=adidas" class="dropdown-item">Adidas</a>
                        <a href="{% url 'products' %}?brand=new_balance" class="dropdown-item">New Balance</a>
                        <a href="{% url 'products' %}?brand=nike" class="dropdown-item">Nike</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <h6 class="dropdown-header">Sale</h6>
                        <a href="{% url 'products' %}?gender=men&category=mens_sale" class="dropdown-item">Mens Sale Items</a>
                        <a href="{% url 'products' %}?gender=womens&category=womens_sale" class="dropdown-item">Womens Sale Items</a>
                        <a href="{% url 'products' %}?gender=men,women&category=mens_sale,womens_sale" class="dropdown-item">Shop All Sale Items</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>