{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <!-- Meta tags for defining document properties -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Here at Performance Footwear we are in the market of footwear for running enthusiasts, offering trainers/shoes, socks and water bottles. based in north yorkshire. Explore our collection for men and women.">
    <meta name="keywords"
        content="Performance Footwear, sports trainers, activewear, sportswear, fitness, athletic gear, sports accessories, North Yorkshire, online store, men's sportswear, women's sportswear, workout trainers, gym accessories.">


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Core CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Core JavaScript libraries -->
    <script src="https://kit.fontawesome.com/25a184994a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <!-- Title of the page -->
    <title>Performance Footwear {% block extra_title %}{% endblock %}</title>
  </head>
  
  <body>
    <!-- Header section -->
    <header class="container-fluid fixed-top">
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 id="carousel-text" class="logo-font my-1">Strive For Greatness!&nbsp;&nbsp;<span class="text-primary"><i class="fa-solid fa-medal"></i></span></h4>               
            </div>            
        </div>
        <!-- Navigation bar -->
        <nav class="row navbar navbar-expand-lg navbar-light bg-light shadow ">   
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <!-- Main logo and navigation links -->
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h3 class="logo-font text-black my-0"><strong>Performance<br>Footwear</strong></h3>
                </a>
                <!-- Dropdown navigation for different categories -->
                <ul class="navbar-nav mx-auto ">
                    <!-- Men -->
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mens
                        </a>
                        <!-- Dropdown menu for Men's categories -->
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <div class="row">
                                <div class="col">
                                    <h6 class="dropdown-header">Footwear</h6>
                                    <a href="{% url 'products' %}?category=mens_trainers&gender=men" class="dropdown-item">Trainers</a>
                                </div>
                                <div class="col">
                                    <h6 class="dropdown-header">Accessories</h6>
                                    <a href="{% url 'products' %}?category=mens_socks&gender=men" class="dropdown-item">Socks</a>
                                    <a href="{% url 'products' %}?category=mens_water_bottles&gender=men" class="dropdown-item">Water Bottles</a>
                                    <a href="{% url 'products' %}?category=mens_socks,mens_water_bottles&gender=men" class="dropdown-item">All Accessories</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothing-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Womens
                        </a>
                        <!-- Dropdown menu for Women's categories -->
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <div class="row">
                                <div class="col">
                                    <h6 class="dropdown-header">Footwear</h6>
                                    <a href="{% url 'products' %}?category=womens_trainers&gender=women" class="dropdown-item">Trainers</a>
                                </div>
                                <div class="col">
                                    <h6 class="dropdown-header">Accessories</h6>
                                    <a href="{% url 'products' %}?category=womens_socks&gender=women" class="dropdown-item">Socks</a>
                                    <a href="{% url 'products' %}?category=womens_water_bottles&gender=women" class="dropdown-item">Water Bottles</a>
                                    <a href="{% url 'products' %}?category=womens_socks,womens_water_bottles&gender=women" class="dropdown-item">All Accessories</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Brands -->
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="brand-products-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Brands
                        </a>
                        <!-- Dropdown menu for Brands -->
                        <div class="dropdown-menu border-0 " aria-labelledby="all-products-link">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'products' %}?brand=mens_new_balance" class="dropdown-item">Mens New Balance</a>
                                    <a href="{% url 'products' %}?brand=mens_nike" class="dropdown-item">Mens Nike</a>
                                    <a href="{% url 'products' %}?brand=womens_new_balance" class="dropdown-item">Womens New Balance</a>
                                    <a href="{% url 'products' %}?brand=womens_nike" class="dropdown-item">Womens Nike</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Sale -->
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-danger" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sale
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <div class="row">
                                <div class="col">
                                    <h6 class="dropdown-header">Sale</h6>
                                    <a href="{% url 'products' %}?category=mens_sale" class="dropdown-item">Mens Sale Items</a>
                                    <a href="{% url 'products' %}?category=womens_sale" class="dropdown-item">Womens Sale Items</a>
                                    <a href="{% url 'products' %}?category=mens_sale,womens_sale" class="dropdown-item">Shop All Sale Items</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>  
                <!-- Search form -->
                <form method="GET" action="/products/">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>   
            </div>
            <!-- User account and shopping cart links -->
            <ul class="accout-block list-inline list-unstyled text-center text-lg-right my-0">
                <!-- User account dropdown -->
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <!-- Dropdown menu content for user account -->
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <!-- Wishlist link (visible if the user is authenticated) -->
                {% if request.user.is_authenticated %}
                <li class="list-inline-item">
                    <a class="text-black nav-link" href="{% url 'wishlist' %}">
                        <div class="text-center">
                            <div><i class="fa-solid fa-heart fa-xl"></i></div>
                            <p class="my-0">
                                Wishlist
                            </p>
                        </div>
                    </a>
                </li>
                {% endif %}
                <!-- Shopping cart link with total amount -->
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_bag' %}">
                        <div class="text-center">
                            <div><i class="fa-solid fa-cart-shopping"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Display messages as toasts -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
            {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% block page_header %}
    {% endblock %}

    <!-- Main content section -->
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer section -->
    {% include 'includes/footer.html' %}

    {% block postloadjs %}
    <!-- Post-load JavaScript for toast display and other functionalities -->
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <!-- Additional JavaScript for changing text in the delivery banner -->
    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0);
        });
    </script>
    <script>
        $(document).ready(function () {
            var textArray = [
                "Strive For Greatness!&nbsp;&nbsp;<span class='text-primary'><i class='fa-solid fa-medal'></i></span>",
                "FREE RETURNS & EXCHANGE",
                "FREE DELIVERY ON ORDERS ORVER £50",
            ];

            var currentIndex = 0;
            var delay = 3000;

            function changeText() {
                $("#carousel-text").fadeOut(500, function () {
                    $(this).html(textArray[currentIndex]).fadeIn(500);
                });

                currentIndex = (currentIndex + 1) % textArray.length;

                setTimeout(changeText, delay);
            }

            changeText();

            $(".dropdown").hover(
            function () {
                $(this).find('.dropdown-menu').show();
                $(this).find('.nav-link').css('text-decoration', 'underline');
                $(this).find('.nav-link').css('text-decoration-color', 'black');
            },
            function () {
                $(this).find('.dropdown-menu').hide();
                $(this).find('.nav-link').css('text-decoration', 'none');
            }
        );
        });
    </script>
    {% endblock %}

  </body>
</html>